button{
    color: var(--base-dark);
    background-color: var(--base-color);
    display: flex;
    border-radius: 20px;
    height: 35px;
    width: 70px;
    align-items: center;
    justify-content: center;

}